In [3]:
Python has two basic number types: 1.interger 2.floating point number

1

In [4]:
1

1

In [2]:
1.0

1.0

In [5]:
1+1

2

In [6]:
1*3

3

In [7]:
1/2

0.5

In [8]:
2 ** 4

16

In [9]:
2 + 3 * 5 +5

22

In [10]:
(2 + 3) * (5+5)

50

In [14]:
4 % 4 # modular or mod function! show the remainder, it's good when you check this number is even or not

0

In [15]:
5 % 2

1

In [16]:
# using '=' you can assign a variable.

In [17]:
var = 2

In [18]:
var

2

In [19]:
x = 2
y = 3

In [21]:
x + y

5

In [22]:
x = x+x

In [23]:
x

4

In [24]:
x = x + x

In [25]:
x

8

In [26]:
# shouldn't start with number like this 12var =12

In [27]:
# shouldn't start with special symbols as well

In [28]:
# should start with lower case letters

In [30]:
name_of_var = 12 # you can use under score _

In [32]:
# strings!

In [33]:
'single quote'

'single quote'

In [34]:
"this is a string"

'this is a string'

In [35]:
"I can't go"

"I can't go"

In [36]:
x = 'hello'

In [37]:
x

'hello'

In [46]:
print(x) # now you can't see the out and '' using print fn

hello

In [39]:
num = 12
name = 'Sam'

In [40]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [41]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [43]:
print('My number is {one} and my name is {two}, more {one},{two}'.format(one=num,two=name))

My number is 12 and my name is Sam, more 12,Sam

In [44]:
s = 'hello'

In [47]:
s[-1]

'o'

In [48]:
d = 'abcdefghijk'

In [49]:
d[0:]

'abcdefghijk'

In [51]:
d[:4]

'abcd'

In [53]:
d[3:6]

'def'

In [54]:
[1,2,3,] # List !, take any data types

[1, 2, 3]

In [55]:
['a','b','c']

['a', 'b', 'c']

In [56]:
my_list= ['a','b','c']

In [57]:
my_list.append('d')

In [58]:
my_list

['a', 'b', 'c', 'd']

In [59]:
my_list[0]

'a'

In [64]:
my_list[1:3]

['b', 'c']

In [65]:
my_list[0] = 'NEW'

In [66]:
my_list

['NEW', 'b', 'c', 'd']

In [67]:
nest = [1,2,[3,4]]

In [68]:
nest[2][1]

4

In [69]:
nest = [1,2,3,[4,5,['target']]]

In [73]:
nest[3][2][0]

'target'

In [74]:
d = {'key1':'value', 'key2':'123'}

In [76]:
d[0]

KeyError: 0

In [78]:
d['key1']

'value'

In [79]:
d['key2']

'123'

In [80]:
d = {'k1':[1,2,3]}

In [83]:
d['k1'][-1]

3

In [84]:
d = {'k1':{'innerkey':[1,2,3]}}

In [85]:
d['k1']

{'innerkey': [1, 2, 3]}

In [86]:
d['k1']['innerkey']

[1, 2, 3]

In [87]:
d['k1']['innerkey'][1]

2

In [88]:
True

True

In [89]:
False

False

In [90]:
my_list = [1,2,3,]

In [91]:
my_list[0]

1

In [92]:
# tuples !!

In [93]:
t = (1,2,3)

In [94]:
t[0]

1

In [96]:
my_list[0] = 'NEW'

In [97]:
my_list

['NEW', 2, 3]

In [98]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [99]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [102]:
set([1,1,1,1,2,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [103]:
s = {1,2,3}

In [104]:
s.add(5)

In [105]:
s

{1, 2, 3, 5}

In [106]:
s.add(5)

In [108]:
s # collection of unique elements

{1, 2, 3, 5}

In [109]:
1 > 2

False

In [110]:
1 < 2

True

In [111]:
1 >= 2

False

In [112]:
1 <=2

True

In [113]:
1 == 1

True

In [116]:
1 == 2

False

In [117]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-117-4c0a01f26144>, line 1)

In [118]:
1 != 3 # != means not equal t o

True

In [119]:
'hi' != 'bye'

True

In [124]:
(1 < 2) and (2 > 3)

False

In [125]:
(1 < 2) or (2 > 3) or (1==1)

True

In [126]:
True and True

True

In [127]:
True and False

False

In [128]:
True or False

True

In [129]:
if 1<2:
    print('yep!')

yep!

In [131]:
if True:
    print('perfome code')

perfome code

In [132]:
if True:
    x = 2+2

In [133]:
x

4

In [137]:
if 1 == 2:
    print('First')
elif 4 ==4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second

In [138]:
seq = [1,2,3,4,5]

In [140]:
for item in seq:   # item = the temporary variable name can be whatever
    print(item)

1
2
3
4
5

In [141]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [142]:
for num in seq:
    print(num)

1
2
3
4
5

In [143]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [145]:
i = 1

while i <5:
    print('i is: {}'.format(i))                    # first, i = 1 so 'i is: 1' and then i = i+1 
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [146]:
for x in seq:
    print(x)

1
2
3
4
5

In [147]:
range(0,5)

range(0, 5)

In [148]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [149]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [150]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# list comprehension

In [152]:
x = [1,2,3,4]

In [154]:
out = []

for num in x:
    out.append(num**2)

In [155]:
print(out)

[1, 4, 9, 16]

In [160]:
[num**2 for num in x] # write down the result form first like num**2

[1, 4, 9, 16]

In [157]:
out = [num**2 for num in x]

In [158]:
out

[1, 4, 9, 16]

In [161]:
def my_func(param1):
    print(param1)

In [162]:
my_func('hello')

hello

In [166]:
def my_func(name):
    print('Hello  '+name)

In [167]:
my_func('Jose')

Hello  Jose

In [168]:
def my_func(name='Default Name'):
    print('Hello  '+name)

In [170]:
my_func(name='Roi')

Hello  Roi

In [171]:
my_func

In [172]:
my_func()

Hello  Default Name

In [176]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [177]:
output = square(2)

In [178]:
output

4

In [179]:
def times2(var):
    return var*2

In [180]:
times2(5)

10

# map()

In [182]:
seq = [1,2,3,4,5]

In [183]:
map(times2, seq)

In [184]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

 # lambda

In [185]:
def times2(var):
    return var*2 #this function actually can be reand in one sentence like below

In [186]:
def times2(var): return var*2

In [188]:
#lambda expression will try to replicate the structrue above, this def and return are not needed

In [190]:
t = lambda var:var*2

In [191]:
t(6)

12

In [192]:
list(map(lambda num: num*3,seq)) # instead of list(map(times2,seq))

[3, 6, 9, 12, 15]

In [194]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

# methods

In [195]:
s = 'hello my name is Roi'

In [197]:
s.lower()

'hello my name is roi'

In [198]:
s.upper()

'HELLO MY NAME IS ROI'

In [203]:
s.split() # split based off of all the white spaces of string

['hello', 'my', 'name', 'is', 'Roi']

In [201]:
tweet = 'Go Sports! #Sports'

In [204]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [205]:
tweet.split('#')[1]

'Sports'

In [206]:
d = {'k1':1, 'k2':2}

In [207]:
d

{'k1': 1, 'k2': 2}

In [208]:
d.keys()

dict_keys(['k1', 'k2'])

In [210]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [211]:
d.values()

dict_values([1, 2])

In [212]:
lst = [1,2,3]

In [213]:
lst.pop()

3

In [214]:
lst

[1, 2]

In [215]:
lst = [1,2,3,4,5]

In [219]:
item = lst.pop()

In [220]:
item

5

In [221]:
lst

[1, 2, 3, 4]

In [223]:
first = lst.pop(0)

In [224]:
lst

[2, 3, 4]

In [225]:
first

1

In [226]:
lst.append('new')

In [227]:
lst

[2, 3, 4, 'new']

In [228]:
'x' in [1,2,3]

False

In [229]:
'x' in ['x','y','z']

True

In [230]:
x = [(1,2),(3,4),(5,6)]

In [232]:
x[0][0]

1

In [234]:
# tuple unpacking
for (a,b) in x:
    print(b)

2
4
6

In [236]:
for a,b in x:
    print(b)
    print(a)

2
1
4
3
6
5